* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

.contact {
    color: white;
    text-align: center;
    font-size: xx-large;
    color: mediumspringgreen
}

.container {
    height: calc(100vh - 91.94px);
    justify-content: center;
}