
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

body {
    background-color: #292c35;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: grey;
}

.enter-prompt {
    font-size: larger;
}

.error {
    color: red;
    font-size: x-large;
}

label {
    font-size: larger;
}

.forgotPass {
    font-size: larger;
}

.noAccount {
    font-size: larger;
}

.login-form {
    height: calc(100vh - 91.94px);
    justify-content: center;
}