.logout-button {
    position: absolute;
    left: 49.75%;
    transform: translateX(-50%);
}

button {
    transition: all .5s ease;
    color: #fff !important;
    border: 3px solid white !important;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 1.50em !important;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

button:hover {
    color: #001F3F !important;
    background-color: #fff;
}

h4 {
    color: white;
    padding-bottom: 7%;
    font-size: xx-large;
}

th {
    color: white;
}

.gpuTable {
    color: white !important;
}

select {
    color: white;
}

label {
    color: white;
}

option {
    color: black;
}

input {
    color: white;
}

#gpuTable_info{
    color: white;
}

.container{
    padding-top: 1%;
    max-width: 25%
}

#gpuTable td a {
    color: black;
    font-size: larger;
}

#gpuTable td a:hover{
    color:blue;
}

#gpuTable th {
    font-size: x-large;
}

.success {
    color: white;
}

#submitContainer{
    padding-top: 1.5%;
}

#success {
    color: mediumspringgreen;
    padding-top: .5%;
    font-size: x-large;
}

.dataTables_empty {
    color: red;
    font-size: x-large;
}