* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

body {
    background-color: #292c35;
}


/* center our login and register links */
.loginOrRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* make our links look nice */
.loginOrRegister a {
    padding: 10px;
    font-size: 2.5em;
}

a:hover {
    color: grey;
}

.loginOrRegister span {
    color: #ffffff;
    font-size: 1.5em;
}