* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}

html,
body {
  height: 100%
}

body {
    background-color: #292c35;
}


/* center our login and register links */
.loginOrRegister {
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/*make our links look nice*/
.loginOrRegister a {
    padding: 10px;
    font-size: 2.5em !important;
}

a:hover {
    color: grey;
}

.loginOrRegister span {
    color: #ffffff;
    font-size: 1.5em;
}

.container {
    height: calc(100vh - 91.94px);
    justify-content: center;
}

@media only screen and (max-width: 575px) {
    .container {
        height: calc(100vh - 174px);
    }
  }